.commerce-product-bundle-product-attributes {
  padding-left: 19px;
}
.commerce-product-bundle-sub-line-item-title {
  font-weight:bold;
  margin-top: 2px;
}
.commerce-product-bundle-product-attributes .field-label {
  font-weight:normal;
  font-style:italic;
  margin-right: 5px;
}
.commerce-product-bundle-sub-line-item {
  margin-bottom: 4px;
}

